
.spot-tile {
    padding: 12px;
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}


.spot-image {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}


.placeholder-image {
    width: 100%;
    height: 180px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}


.spot-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}


.spot-location {
    font-size: 16px;
    color: #ffffff;
    margin: 0;
}

.spot-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.spot-location-small {
    font-size: 14px;
    color: #ffffff;
    text-align: left;
}


.spot-rating {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #a71b19;
}


.spot-price {
    font-size: 16px;
    font-weight: bold;
    color:#f2a21b;
    text-align: left;
}


.star-icon {
    color: #a71b19;
    margin-right: 5px;
}
