\.confirm-delete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .confirm-delete-buttons {
    display: flex;
    flex-direction: column; 
    width: 100%; 
}

.delete-button, .cancel-button {
    width: 100%; 
    text-align: center;
}

  
  .delete-button {
    background-color: #ff5a5f; 
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #ff5a5f80
  }
  
  .delete-button:disabled {
    background-color: #ff5a5f80; 
    cursor: not-allowed;
  }
  
  .cancel-button {
    background-color: #6c757d;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .cancel-button:hover {
    background-color: #5a6268;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  