/* frontend/src/components/Review/ConfirmDelete.css */

.confirm-delete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .confirm-delete-buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    width: 100%; /* Make buttons take up full width */
}

.delete-button, .cancel-button {
    width: 100%; /* Ensure both buttons take up the full width */
    text-align: center;
}

  
  .delete-button {
    background-color: #ff5a5f; /* Red color */
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #ff5a5f80
  }
  
  .delete-button:disabled {
    background-color: #ff5a5f80; /* Semi-transparent red */
    cursor: not-allowed;
  }
  
  .cancel-button {
    background-color: #6c757d; /* Dark grey */
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .cancel-button:hover {
    background-color: #5a6268;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  